body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: white;
  font-family: Arial, sans-serif;
}

.text-container {
  position: relative;
}

#text {
  color: white;
  font-size: 3rem;
  position: relative;
  white-space: nowrap;
}

#text span {
  transition: color 0.1s ease;
}
